.bg-image {
  background-image: url("/LandingPageAssets/Background.jpg");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center bottom;
  display: flex;
  align-items: flex-end;
  // position: absolute;
  // overflow: hidden;
}

.mountain-container {
  display: flex;
  align-items: end;
  width: 100%;
  justify-content: space-between;
  // overflow: hidden;
}

.mountain-1 {
  z-index: 1;
  position: relative;
}

.mountain-2 {
  position: relative;
  margin-left: -100%;
  z-index: 2;
}

.mountain-1,
.mountain-2 {
  animation: mountainParallax 2s ease forwards;
}

.mountain-1 img,
.mountain-2 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.text-container {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 20px;
  z-index: 3;
  width: 100%;
  animation: textParallax 3s ease-in-out forwards;
}

.mountain-1,
.mountain-2,
.text-container {
  backface-visibility: hidden;
}


@keyframes textParallax {
  0% {
    top: 70%;
    font-size: 30px;
  }
  50% {
    top: 50%;
    font-size: 80px;
  }
  100% {
    top: 50%;
    font-size: 80px;
  }
}

@keyframes mountainParallax {
  0% {
    height: 65rem;
  }
  50% {
    height: 55rem;
  }
  100% {
    height: 35rem;
  }
}


@media only screen and (min-width: 980px) and (max-width: 1100px) {
  .text-container p {
    font-size: 70px; 
  }
}

@media only screen and (min-width: 815px) and (max-width: 981px) {
  .text-container p {
    font-size: 70px;
  }
  .mountain-1 img,
  .mountain-2 img {
    object-fit: cover;
    width: 100%;
    height: 80%;
    position: relative;
    top: 112px;
  }
}

@media only screen and  (min-width: 764px) and (max-width: 816px) {
  .text-container p{
    font-size: 70px;
  }

  .mountain-1 img,
  .mountain-2 img {
    object-fit: cover;
    width: 100%;
    height: 80%;
    position: relative;
    top: 112px;
  }
}

@media only screen and (min-width: 629px) and (max-width: 765px) {
  .text-container p {
    font-size: 60px;
  }

  .mountain-1 img,
  .mountain-2 img {
    object-fit: cover;
    width: 100%;
    height: 75%;
    position: relative;
    top: 140px;
  }
}

@media only screen and (min-width: 538px) and (max-width: 630px) {
  .text-container p{
    font-size: 50px;
  }

  .mountain-1 img,
  .mountain-2 img {
    object-fit: cover;
    width: 100%;
    height: 70%;
    position: relative;
    top: 168px;
  }
}

@media only screen and (min-width: 479px) and (max-width: 539px){
  .text-container p {
    font-size: 40px;
  }
  .mountain-1 img,
  .mountain-2 img {
    object-fit: cover;
    width: 100%;
    height: 70%;
    position: relative;
    top: 168px;
  }
} 

@media only screen and (min-width: 374px) and (max-width: 480px){
  .text-container p {
    font-size: 40px;
  }
  .mountain-1 img,
  .mountain-2 img {
    object-fit: cover;
    width: 100%;
    height: 50%;
    position: relative;
    top: 280px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
  .text-container p {
    font-size: 30px;
  }
  .mountain-1 img,
  .mountain-2 img {
    object-fit: cover;
    width: 100%;
    height: 50%;
    position: relative;
    top: 280px;
  }
}
