.projects {
    width: 100vw;
    height: 250px;
//     background: linear-gradient(
//     180deg,
//     rgba(15, 24, 66, 0.28) 14.5%,
//     rgba(160, 238, 255, 0.4) 83.1%
//   );
}

.heading {
    text-align: center;
}

.coming-soon{
    text-align: center;
    margin: 5rem;
}