.content-container {
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    color: black;

    .title {
        font-size: 3xl;
        font-weight: 600;
        color: white;
    }

    .description {
        font-size: 20px;
    }
}

.title-container {
    text-align: center;
    color: white;
}

.card-containerSOM {
    display: flex;
    flex-direction: column;
    background-color: #f3e79d;
    border-radius: 20px;

    @media (min-width: 48em) {
        flex-direction: row;
    }
}

.cardSOM {
    padding: 10px;
    margin: 10px;
    background-color: #f3e79d;
    text-align: justify;
    border-radius: 20px;

    .card-header {
        h2 {
            font-size: 3xl;
            font-weight: bold;
        }
    }

    .card-image {
        width: 100%; 
        margin: 10px 0; 
    }

    .card-description {
        font-size: 16px;
    }
}