.faq {
    max-width: 560px;
    padding: 36px;
    width: calc(100vw - 72px);
    margin: auto;
    box-sizing: border-box; /* Include padding and borders in the total width and height */
  
    @media screen and (max-width: 768px) {
      padding: 16px;
      width: calc(100vw - 32px);
      overflow: hidden;
    }
  }
.accordion {
  border: 2px solid red;
}
.head_faq {
  color: white;
  text-align: center;
}
.accordion_header {
  padding: 0 !important;
}
.accordion_collapse {
  padding: 0 !important;
}
:global(.ant-collapse-header) {
  padding: 0 !important;
}
