.displayCard{
    width: 305.941px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 47px;
    opacity: 0.3;
    background-image: "url(/woc.png)";
    // background: lightgray 50% / cover no-repeat;
}