* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: #fff;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  z-index: 2;
  position: sticky;
  top: 0;
  left: 0;
}
.active {
  //   background: blue;
  //   opacity: 90%;
  //   filter: blur(100);
  background: linear-gradient(
    135deg,
    rgba(8, 14, 44, 0.7),
    rgba(37, 41, 88, 0.85)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);

  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.menuIcon {
  display: none;
}
.logoImg {
  width: 45px;
}
.logo {
  display: flex;
  align-items: center;
}
.logo h1 {
  font-size: 1.2em;
  padding: 0 0.5em;
}
.menu {
  color: white;
  list-style: none;
  display: flex;
}
.menu li {
  padding-right: 2em;
  cursor: pointer;
}
.navbar > .menu li a {
  color: white;
}

@media (max-width: 900px) {
  .navbar {
    padding: 1.5rem 2rem;
  }
  .menu li {
    padding: 1em 0em;
  }
  .menu li a {
    color: #505050;
  }
  .logoImg {
    width: 40px;
  }

  .menuIcon {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8%;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 0.5em;
    cursor: pointer;
  }
  .navbar > .menu {
    display: none;
  }
}
