.footer {
  background: url(../../assets/footerBg1.png) no-repeat center center;
  background-size: cover;
  width: 100%;
  padding: 48px 60px;
  box-sizing: border-box;
  @media screen and (max-width: 560px) {
    padding: 20px 20px;
  }
}
.footer_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  margin-bottom: 80px;
  @media screen and (max-width: 560px) {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
    align-items: flex-start;
  }
}
.footer_logo_first {
  display: flex;
  align-items: center;
}
.footer_logo {
  max-width: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width: 560px) {
    max-width: 100%;
    justify-content: center;
    align-items: center;
  }
}
.footer_woc_logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  @media screen and (max-width: 560px) {
    width: 50px;
    height: 50px;
  }
}
.footer_logo_text {
  font-size: 20px;
  font-weight: 600;
  color: #fff;

  @media screen and (max-width: 560px) {
    font-size: 18px;
  }
}

.footer_logo_text2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  p {
    font-size: 10px;
    @media screen and (max-width: 560px) {
      font-size: 15px;
    }
  }
}
.footer_logo_socials {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  gap: 8px;
}
.footer_logo_socials_icons1 {
  font-size: 25px;
  @media screen and (max-width: 560px) {
    font-size: 15px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 100%;
  }
}
.footer_logo_socials_icons2 {
  font-size: 25px;
  @media screen and (max-width: 560px) {
    font-size: 15px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 100%;
  }
}
.footer_logo_socials_icons3 {
  font-size: 25px;
  @media screen and (max-width: 560px) {
    font-size: 15px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 100%;
  }
}
.footer_resources {
  max-width: 33.33%;
  @media screen and (max-width: 560px) {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 30px;
    margin-top: 20px;
  }
}
.footer_resources_heading {
  margin: 0;
  margin-bottom: 5px;
  font-size: 20px;
  @media screen and (max-width: 560px) {
    font-size: 18px;
    margin-bottom: 12px;
  }
}
.footer_resources_text {
  margin: 8px 0px;
  font-size: 14px;

  @media screen and (max-width: 560px) {
    font-size: 12px;
    margin: 6px 0px;
  }
}
.footer_socials {
  max-width: 33%;
  @media screen and (max-width: 560px) {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}
.footer_socials_heading {
  margin: 0;
  margin-bottom: 5px;
  font-size: 20px;
  @media screen and (max-width: 560px) {
    font-size: 18px;
    margin-bottom: 12px;
  }
}
.footer_socials_text {
  margin: 8px 0px;
  font-size: 14px;

  @media screen and (max-width: 560px) {
    font-size: 12px;
    margin: 6px 0px ;
  }
}
.footer_bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
.footer_bottom img {
  width: 50%;
  @media screen and (max-width: 560px) {
    width: 100%;
  }
}
.footer_bottom p {
  margin: 10px 20px;
  font-size: 14px;
  @media screen and (max-width: 560px) {
    font-size: 12px;
  }
}
