.box {
  background: linear-gradient(
    180deg,
    rgba(15, 24, 66, 0.28) 14.5%,
    rgba(160, 238, 255, 0.4) 83.1%
  );
  color: white;
  padding: 24px 48px;
  width: calc(100vw - 96px);
}
.heading {
  color: #fffcfc;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.discription {
  color: #fff;
  text-align: center;
  font-family: "Google Sans Display Regular";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 28px;

  .btn_wrap1,
  .btn_wrap2 {
    gap: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media screen and (max-width: 1030px) {
    flex-direction: column;
    justify-content: flex-start;

    .btn_wrap1,
    .btn_wrap2 {
      width: 100%;
      Button {
        width: 100%;
      }
    }
  }
}
