html,
body {
  box-sizing: border-box;
  background: linear-gradient(180deg, #0e1742 0%, #2860c7 79.69%);
  color: white;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  font-family: "Inter var", sans-serif !important;
  margin: 0;
  padding: 0;
}

.primary {
  background-color: #2860c7;
  color: white;
  font-weight: 600;
  font-size: 16px;
  border: none;

  &:hover {
    background-color: #3474eb;
    color: white !important;
  }
}
